# Data Wrangling

In [232]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import rcParams
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
import pickle

In [233]:
# read json into Python
with open(r"C:\A\Education\Data Science\Ultimate Technologies Inc\ultimate_data_challenge.json") as json_file:
    json_data=json.load(json_file)

In [234]:
type(json_data)

list

In [235]:
print(len(json_data))

50000

In [236]:
# have a peek of the list to understand what is included in the data
print(json_data[:5])

[{'city': "King's Landing", 'trips_in_first_30_days': 4, 'signup_date': '2014-01-25', 'avg_rating_of_driver': 4.7, 'avg_surge': 1.1, 'last_trip_date': '2014-06-17', 'phone': 'iPhone', 'surge_pct': 15.4, 'ultimate_black_user': True, 'weekday_pct': 46.2, 'avg_dist': 3.67, 'avg_rating_by_driver': 5.0}, {'city': 'Astapor', 'trips_in_first_30_days': 0, 'signup_date': '2014-01-29', 'avg_rating_of_driver': 5.0, 'avg_surge': 1.0, 'last_trip_date': '2014-05-05', 'phone': 'Android', 'surge_pct': 0.0, 'ultimate_black_user': False, 'weekday_pct': 50.0, 'avg_dist': 8.26, 'avg_rating_by_driver': 5.0}, {'city': 'Astapor', 'trips_in_first_30_days': 3, 'signup_date': '2014-01-06', 'avg_rating_of_driver': 4.3, 'avg_surge': 1.0, 'last_trip_date': '2014-01-07', 'phone': 'iPhone', 'surge_pct': 0.0, 'ultimate_black_user': False, 'weekday_pct': 100.0, 'avg_dist': 0.77, 'avg_rating_by_driver': 5.0}, {'city': "King's Landing", 'trips_in_first_30_days': 9, 'signup_date': '2014-01-10', 'avg_rating_of_driver': 4.6, 'avg_surge': 1.14, 'last_trip_date': '2014-06-29', 'phone': 'iPhone', 'surge_pct': 20.0, 'ultimate_black_user': True, 'weekday_pct': 80.0, 'avg_dist': 2.36, 'avg_rating_by_driver': 4.9}, {'city': 'Winterfell', 'trips_in_first_30_days': 14, 'signup_date': '2014-01-27', 'avg_rating_of_driver': 4.4, 'avg_surge': 1.19, 'last_trip_date': '2014-03-15', 'phone': 'Android', 'surge_pct': 11.8, 'ultimate_black_user': False, 'weekday_pct': 82.4, 'avg_dist': 3.13, 'avg_rating_by_driver': 4.9}]

In [237]:
# create the following empty lists
city=[]
trips_in_first_30_days=[]
signup_date=[]
avg_rating_of_driver=[]
avg_surge=[]
last_trip_date=[]
phone=[]
surge_pct=[]
ultimate_black_user=[]
weekday_pct=[]
avg_dist=[]
avg_rating_by_driver=[]

In [238]:
# get values frome the dictionries and apend them into respective list
for i,k in enumerate(json_data):
    b=json_data[i]
    row=b.values()
    row=list(row)
    city.append(row[0])
    trips_in_first_30_days.append(row[1])
    signup_date.append(row[2])
    avg_rating_of_driver.append(row[3])
    avg_surge.append(row[4])
    last_trip_date.append(row[5])
    phone.append(row[6])
    surge_pct.append(row[7])
    ultimate_black_user.append(row[8])
    weekday_pct.append(row[9])
    avg_dist.append(row[10])
    avg_rating_by_driver.append(row[11])

In [239]:
print(city[:5])

["King's Landing", 'Astapor', 'Astapor', "King's Landing", 'Winterfell']

In [240]:
# create the dataframe
df=pd.DataFrame()
df['city']=city
df['trips_in_first_30_days']=trips_in_first_30_days
df['signup_date']=signup_date
df['avg_rating_of_driver']=avg_rating_of_driver
df['avg_surge']=avg_surge
df['last_trip_date']=last_trip_date
df['phone']=phone
df['surge_pct']=surge_pct
df['ultimate_black_user']=ultimate_black_user
df['weekday_pct']=weekday_pct
df['avg_dist']=avg_dist
df['avg_rating_by_driver']=avg_rating_by_driver

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
city                      50000 non-null object
trips_in_first_30_days    50000 non-null int64
signup_date               50000 non-null object
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
last_trip_date            50000 non-null object
phone                     49604 non-null object
surge_pct                 50000 non-null float64
ultimate_black_user       50000 non-null bool
weekday_pct               50000 non-null float64
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 4.2+ MB

In [242]:
df.head()

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9

In [243]:
# investigate the column of avg_rating_of_driver, there are 8122 missing values
df['avg_rating_of_driver'].value_counts(dropna=False)

5.0    20771
NaN     8122
4.0     4193
4.5     2498
4.8     2430
4.7     1945
4.9     1771
4.3     1487
4.6     1143
3.0     1003
4.4      829
4.2      601
3.5      488
3.8      428
4.1      398
3.7      364
1.0      256
3.9      255
2.0      209
3.3      201
3.6      172
3.4      108
2.5       94
3.2       53
2.7       47
3.1       39
2.8       28
2.3       22
2.9       13
2.6       12
2.1        6
1.5        4
2.4        3
1.8        2
1.7        2
2.2        1
1.9        1
1.6        1
Name: avg_rating_of_driver, dtype: int64

In [244]:
# fill missing values with median
median=df['avg_rating_of_driver'].median()
df['avg_rating_of_driver']=df.avg_rating_of_driver.fillna(median)

In [245]:
# investigate statistics, no outlier
df['avg_rating_of_driver'].describe()

count    50000.000000
mean         4.650038
std          0.575601
min          1.000000
25%          4.500000
50%          4.900000
75%          5.000000
max          5.000000
Name: avg_rating_of_driver, dtype: float64

In [246]:
# investigate the column of phone, there are 396 missing values
df['phone'].value_counts(dropna=False)

iPhone     34582
Android    15022
NaN          396
Name: phone, dtype: int64

In [247]:
# fill missing values with "n/a"
df['phone']=df.phone.fillna("n/a")
df['phone'].value_counts(dropna=False)

iPhone     34582
Android    15022
n/a          396
Name: phone, dtype: int64

In [248]:
# investigate the column of city, no missing value
df['city'].value_counts(dropna=False)

Winterfell        23336
Astapor           16534
King's Landing    10130
Name: city, dtype: int64

In [249]:
# investigate the column of trips_in_first_30_days, no missing value
df['trips_in_first_30_days'].value_counts(dropna=False)

0      15390
1      14108
2       7402
3       3788
4       2562
5       1616
6       1134
7        819
8        589
9        471
10       349
11       301
12       221
13       168
15       155
14       147
17       113
16       108
18        80
19        69
20        51
23        45
21        40
22        34
24        33
27        28
28        21
25        20
26        19
30        15
34        11
29         9
33         9
37         9
32         8
31         6
44         5
40         5
38         4
43         4
47         3
42         3
36         3
39         3
53         2
55         2
56         2
54         2
48         2
49         2
35         2
125        1
73         1
58         1
71         1
41         1
50         1
51         1
63         1
Name: trips_in_first_30_days, dtype: int64

In [250]:
# investigate outlier, 125 looks like an outlier
df['trips_in_first_30_days'].describe()

count    50000.000000
mean         2.278200
std          3.792684
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max        125.000000
Name: trips_in_first_30_days, dtype: float64

In [251]:
# investigate the observation that trips_in_first_30_days is 125, all of the other information seems reasonable
# therefore, keep all of these inforamtion
print(df[df['trips_in_first_30_days']==125])

                 city  trips_in_first_30_days signup_date  \
18514  King's Landing                     125  2014-01-02

       avg_rating_of_driver  avg_surge last_trip_date   phone  surge_pct  \
18514                   5.0       1.12     2014-06-30  iPhone       14.4

       ultimate_black_user  weekday_pct  avg_dist  avg_rating_by_driver
18514                 True         72.0      2.02                   4.8

In [252]:
# investigate the column of signup_date, no missing value
df['signup_date'].value_counts(dropna=False)

2014-01-18    2948
2014-01-25    2885
2014-01-11    2402
2014-01-24    2284
2014-01-17    2149
2014-01-31    2100
2014-01-19    2028
2014-01-10    2021
2014-01-06    1763
2014-01-01    1737
2014-01-26    1708
2014-01-23    1606
2014-01-07    1486
2014-01-04    1485
2014-01-30    1471
2014-01-09    1433
2014-01-16    1431
2014-01-22    1369
2014-01-05    1343
2014-01-12    1334
2014-01-20    1295
2014-01-28    1284
2014-01-08    1275
2014-01-27    1236
2014-01-21    1234
2014-01-03    1213
2014-01-29    1197
2014-01-14    1120
2014-01-15    1110
2014-01-13    1049
2014-01-02    1004
Name: signup_date, dtype: int64

In [253]:
# investigate the column of avg_surge, no missing value
df['avg_surge'].value_counts(dropna=False)

1.00    34454
1.25     1100
1.13      956
1.02      809
1.08      798
1.04      774
1.06      770
1.05      704
1.03      619
1.07      616
1.10      508
1.50      505
1.01      484
1.17      473
1.11      446
1.09      412
1.15      367
1.14      340
1.19      327
1.75      296
1.38      294
2.00      261
1.16      255
1.20      243
1.18      217
1.21      214
1.33      200
1.12      196
1.22      163
1.31      136
        ...
2.08        4
1.66        4
1.59        4
1.61        4
1.85        3
1.53        3
2.33        3
1.49        3
1.64        3
1.68        3
2.88        2
1.78        2
2.17        2
1.96        2
2.67        2
2.10        2
8.00        1
2.07        1
2.31        1
2.20        1
1.51        1
1.77        1
2.44        1
2.19        1
3.63        1
1.90        1
1.79        1
5.75        1
2.42        1
4.75        1
Name: avg_surge, Length: 115, dtype: int64

In [254]:
# investigate outlier, "8" looks like a outlier but it is also a possible value
df['avg_surge'].describe()

count    50000.000000
mean         1.074764
std          0.222336
min          1.000000
25%          1.000000
50%          1.000000
75%          1.050000
max          8.000000
Name: avg_surge, dtype: float64

In [255]:
# investigate the column, no missing value
df['last_trip_date'].value_counts(dropna=False)

2014-06-29    2036
2014-06-28    1679
2014-06-30    1408
2014-06-27    1120
2014-06-22    1024
2014-06-21     869
2014-01-19     848
2014-01-26     808
2014-06-26     793
2014-06-14     665
2014-06-15     647
2014-06-20     612
2014-06-25     603
2014-01-25     601
2014-01-12     586
2014-01-20     557
2014-07-01     548
2014-06-23     546
2014-01-18     542
2014-06-07     534
2014-06-08     527
2014-06-01     494
2014-02-01     478
2014-05-18     470
2014-06-19     455
2014-01-11     440
2014-06-24     440
2014-06-13     438
2014-05-31     419
2014-06-18     400
              ...
2014-04-03     109
2014-02-13     108
2014-04-22     105
2014-03-31     104
2014-02-05     104
2014-02-12     104
2014-03-13     104
2014-02-10     104
2014-03-24     103
2014-04-09     103
2014-04-16     102
2014-02-18      99
2014-04-02      99
2014-04-14      98
2014-03-05      91
2014-03-25      89
2014-02-04      87
2014-03-12      86
2014-04-01      84
2014-03-03      84
2014-04-15      83
2014-02-25      82
2014-02-11      82
2014-02-24      82
2014-02-19      79
2014-03-11      79
2014-02-26      79
2014-02-20      74
2014-03-10      69
2014-03-04      69
Name: last_trip_date, Length: 182, dtype: int64

In [256]:
# investigate the column, no missing value
df['surge_pct'].value_counts(dropna=False)

0.0      34409
100.0     1416
50.0      1367
33.3      1152
25.0       906
20.0       790
16.7       708
14.3       533
12.5       439
11.1       393
10.0       335
9.1        293
8.3        256
7.7        220
22.2       212
7.1        206
40.0       202
28.6       189
66.7       168
6.3        161
18.2       159
6.7        150
5.9        140
15.4       134
11.8       117
5.6        115
5.3        103
13.3       100
5.0         82
4.8         80
         ...
23.0         1
48.1         1
55.0         1
42.4         1
33.6         1
33.7         1
64.7         1
14.9         1
35.5         1
37.2         1
28.8         1
38.2         1
30.3         1
47.8         1
30.6         1
26.4         1
9.9          1
18.7         1
27.9         1
28.2         1
59.5         1
29.3         1
62.5         1
0.6          1
0.4          1
34.6         1
35.2         1
45.8         1
52.9         1
63.6         1
Name: surge_pct, Length: 367, dtype: int64

In [257]:
# investigate outlier, there is no outlier
df['surge_pct'].describe()

count    50000.000000
mean         8.849536
std         19.958811
min          0.000000
25%          0.000000
50%          0.000000
75%          8.600000
max        100.000000
Name: surge_pct, dtype: float64

In [258]:
# investigate the column, no missing value
df['ultimate_black_user'].value_counts(dropna=False)

False    31146
True     18854
Name: ultimate_black_user, dtype: int64

In [259]:
# investigate the column, no missing value
df['weekday_pct'].value_counts(dropna=False)

100.0    16659
0.0       9203
50.0      4057
66.7      2088
33.3      1619
75.0      1104
60.0       772
25.0       723
80.0       668
40.0       593
83.3       401
71.4       395
57.1       395
20.0       343
42.9       284
85.7       281
62.5       256
87.5       241
55.6       221
44.4       210
37.5       196
16.7       196
77.8       193
28.6       175
70.0       171
63.6       166
88.9       162
58.3       158
54.5       151
72.7       143
         ...
35.1         1
62.4         1
21.9         1
23.7         1
53.0         1
58.2         1
37.7         1
19.2         1
83.1         1
12.0         1
95.3         1
47.3         1
55.4         1
42.0         1
97.8         1
32.4         1
31.7         1
18.5         1
13.0         1
28.2         1
81.9         1
9.5          1
29.5         1
35.4         1
38.0         1
5.9          1
93.2         1
42.6         1
39.0         1
49.1         1
Name: weekday_pct, Length: 666, dtype: int64

In [260]:
# investigate outlier, there is no outlier
df['weekday_pct'].describe()

count    50000.000000
mean        60.926084
std         37.081503
min          0.000000
25%         33.300000
50%         66.700000
75%        100.000000
max        100.000000
Name: weekday_pct, dtype: float64

In [261]:
# investigate the column, no missing value
df['avg_dist'].value_counts(dropna=False)

0.00     150
2.30     116
2.29     116
2.70     114
2.36     114
2.73     114
2.65     113
2.50     113
2.83     110
2.54     110
2.40     110
2.15     109
2.05     109
2.42     109
2.32     108
2.62     108
2.47     107
2.01     107
2.89     107
2.74     107
3.05     106
2.60     106
2.06     106
3.00     106
2.59     106
2.77     105
2.22     104
2.92     104
2.38     103
2.46     103
        ...
24.05      1
30.27      1
33.55      1
25.81      1
31.22      1
23.55      1
36.63      1
45.56      1
21.75      1
31.78      1
30.22      1
20.20      1
33.77      1
29.35      1
29.53      1
19.82      1
18.54      1
19.62      1
25.65      1
49.45      1
23.91      1
0.17       1
42.66      1
25.92      1
21.79      1
55.60      1
21.19      1
22.45      1
26.94      1
46.02      1
Name: avg_dist, Length: 2908, dtype: int64

In [262]:
# investigate outlier, there is no outlier
df['avg_dist'].describe()

count    50000.000000
mean         5.796827
std          5.707357
min          0.000000
25%          2.420000
50%          3.880000
75%          6.940000
max        160.960000
Name: avg_dist, dtype: float64

In [263]:
# investigate the column, there are 201 missing values
df['avg_rating_by_driver'].value_counts(dropna=False)

5.0    28508
4.8     4537
4.7     3330
4.9     3094
4.5     2424
4.6     2078
4.0     1914
4.3     1018
4.4      860
3.0      602
4.2      342
NaN      201
3.5      199
3.7      195
1.0      181
2.0      126
4.1      125
3.8      111
3.3       47
3.9       41
2.5       31
3.6       19
3.4        5
1.5        4
2.8        3
2.7        2
3.2        2
2.3        1
Name: avg_rating_by_driver, dtype: int64

In [264]:
# fill up missing values with median
median_a=df['avg_rating_by_driver'].median()
df['avg_rating_by_driver']=df.avg_rating_of_driver.fillna(median_a)
df['avg_rating_by_driver'].value_counts(dropna=False)

5.0    20771
4.9     9893
4.0     4193
4.5     2498
4.8     2430
4.7     1945
4.3     1487
4.6     1143
3.0     1003
4.4      829
4.2      601
3.5      488
3.8      428
4.1      398
3.7      364
1.0      256
3.9      255
2.0      209
3.3      201
3.6      172
3.4      108
2.5       94
3.2       53
2.7       47
3.1       39
2.8       28
2.3       22
2.9       13
2.6       12
2.1        6
1.5        4
2.4        3
1.8        2
1.7        2
2.2        1
1.6        1
1.9        1
Name: avg_rating_by_driver, dtype: int64

In [265]:
# investigate outlier, there is no oulier
df['avg_rating_by_driver'].describe()

count    50000.000000
mean         4.650038
std          0.575601
min          1.000000
25%          4.500000
50%          4.900000
75%          5.000000
max          5.000000
Name: avg_rating_by_driver, dtype: float64

In [266]:
# convert the column of last_trip_date to daytime object
df['last_trip_date'] =  pd.to_datetime(df['last_trip_date'],infer_datetime_format=True)

In [267]:
# Create features for last_trip_year, last_trip_month, last_trip_day 
df['last_trip_year'] = df['last_trip_date'].dt.year 
df['last_trip_month'] = df['last_trip_date'].dt.month 
df['last_trip_day'] = df['last_trip_date'].dt.day

In [268]:
df['last_trip_month'].value_counts()

6    18256
1    10147
5     7585
4     4588
3     4568
2     4308
7      548
Name: last_trip_month, dtype: int64

In [269]:
# the cut off day of this report is 1st,july,2014, therefore, the active users are those users whose last trips are
# between 1st june and 1st july
df[df['last_trip_month']==7]

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,last_trip_year,last_trip_month,last_trip_day
17,King's Landing,0,2014-01-12,3.9,1.00,2014-07-01,iPhone,0.0,True,95.2,2.38,3.9,2014,7,1
87,Winterfell,6,2014-01-23,5.0,1.00,2014-07-01,iPhone,0.0,True,67.6,3.06,5.0,2014,7,1
96,Winterfell,11,2014-01-26,4.1,1.00,2014-07-01,iPhone,1.9,True,76.9,4.89,4.1,2014,7,1
147,Winterfell,7,2014-01-25,3.7,1.09,2014-07-01,iPhone,3.8,False,57.7,5.44,3.7,2014,7,1
297,King's Landing,1,2014-01-16,5.0,1.00,2014-07-01,iPhone,0.0,False,100.0,5.93,5.0,2014,7,1
305,King's Landing,8,2014-01-16,4.0,1.01,2014-07-01,iPhone,1.7,True,70.9,7.50,4.0,2014,7,1
313,King's Landing,0,2014-01-11,4.9,1.00,2014-07-01,Android,0.0,True,23.1,2.34,4.9,2014,7,1
350,King's Landing,4,2014-01-25,5.0,1.00,2014-07-01,iPhone,0.0,False,64.0,2.00,5.0,2014,7,1
389,King's Landing,5,2014-01-26,4.9,1.02,2014-07-01,n/a,3.0,False,66.7,3.08,4.9,2014,7,1
599,Winterfell,11,2014-01-06,4.8,1.07,2014-07-01,iPhone,14.3,False,77.1,6.12,4.8,2014,7,1
641,Winterfell,11,2014-01-10,4.2,1.00,2014-07-01,iPhone,0.0,True,88.2,3.52,4.2,2014,7,1
649,Winterfell,2,2014-01-28,4.0,1.00,2014-07-01,iPhone,0.0,False,80.0,3.63,4.0,2014,7,1
858,King's Landing,0,2014-01-14,5.0,1.00,2014-07-01,iPhone,0.0,False,100.0,4.60,5.0,2014,7,1
963,King's Landing,0,2014-01-25,4.8,1.03,2014-07-01,iPhone,11.1,False,77.8,4.44,4.8,2014,7,1
978,Winterfell,24,2014-01-05,4.9,1.06,2014-07-01,iPhone,12.3,True,64.0,2.77,4.9,2014,7,1
1074,Astapor,0,2014-01-14,4.7,1.03,2014-07-01,iPhone,11.1,False,85.2,2.78,4.7,2014,7,1
1134,Winterfell,17,2014-01-25,5.0,1.08,2014-07-01,iPhone,14.3,False,75.3,2.21,5.0,2014,7,1
1257,King's Landing,1,2014-01-19,5.0,1.00,2014-07-01,iPhone,0.0,False,100.0,1.52,5.0,2014,7,1
1353,Astapor,4,2014-01-18,4.9,1.09,2014-07-01,iPhone,13.8,True,65.5,2.30,4.9,2014,7,1
1595,King's Landing,2,2014-01-19,3.1,1.02,2014-07-01,n/a,6.7,True,86.7,3.50,3.1,2014,7,1
1616,Winterfell,4,2014-01-17,4.9,1.00,2014-07-01,iPhone,0.0,True,50.0,4.25,4.9,2014,7,1
1636,Winterfell,2,2014-01-01,5.0,1.09,2014-07-01,Android,7.1,False,71.4,3.14,5.0,2014,7,1
1695,King's Landing,5,2014-01-13,4.7,1.00,2014-07-01,iPhone,0.0,True,76.4,5.20,4.7,2014,7,1
1848,Astapor,2,2014-01-14,4.8,1.19,2014-07-01,iPhone,25.0,True,50.0,2.52,4.8,2014,7,1
1866,Astapor,5,2014-01-18,4.7,1.24,2014-07-01,Android,40.0,False,40.0,3.73,4.7,2014,7,1
1885,King's Landing,1,2014-01-25,5.0,1.06,2014-07-01,iPhone,15.4,True,84.6,2.87,5.0,2014,7,1
2002,King's Landing,1,2014-01-20,4.9,1.00,2014-07-01,iPhone,0.0,False,100.0,1.56,4.9,2014,7,1
2004,Winterfell,4,2014-01-18,4.1,1.05,2014-07-01,Android,9.5,True,76.2,4.83,4.1,2014,7,1
2221,King's Landing,15,2014-01-05,4.4,1.05,2014-07-01,Android,11.8,False,72.9,2.54,4.4,2014,7,1
2258,Winterfell,0,2014-01-23,4.5,1.10,2014-07-01,iPhone,13.5,True,56.8,2.33,4.5,2014,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46971,King's Landing,4,2014-01-21,4.8,1.19,2014-07-01,iPhone,31.3,True,68.8,2.57,4.8,2014,7,1
46986,Winterfell,4,2014-01-11,4.5,1.04,2014-07-01,iPhone,7.1,True,42.9,2.58,4.5,2014,7,1
47074,Astapor,0,2014-01-19,5.0,1.00,2014-07-01,iPhone,0.0,True,75.0,5.95,5.0,2014,7,1
47127,Winterfell,5,2014-01-01,5.0,1.02,2014-07-01,iPhone,2.9,False,55.9,5.18,5.0,2014,7,1
47243,Winterfell,7,2014-01-03,4.8,1.06,2014-07-01,iPhone,4.3,True,63.8,3.00,4.8,2014,7,1
47589,Astapor,4,2014-01-11,4.6,1.05,2014-07-01,iPhone,8.7,False,60.9,3.66,4.6,2014,7,1
47794,Winterfell,2,2014-01-26,4.7,1.00,2014-07-01,Android,0.0,True,50.0,6.30,4.7,2014,7,1
47883,King's Landing,8,2014-01-14,4.8,1.04,2014-07-01,Android,5.9,True,52.9,3.09,4.8,2014,7,1
47973,Astapor,0,2014-01-11,5.0,1.00,2014-07-01,iPhone,0.0,False,100.0,1.31,5.0,2014,7,1
48310,Astapor,2,2014-01-26,4.3,1.11,2014-07-01,iPhone,14.3,True,50.0,4.74,4.3,2014,7,1
48352,King's Landing,0,2014-01-07,4.9,1.00,2014-07-01,iPhone,0.0,True,87.5,6.30,4.9,2014,7,1
48396,King's Landing,0,2014-01-15,4.5,1.05,2014-07-01,iPhone,14.8,False,81.5,1.80,4.5,2014,7,1
48429,Winterfell,4,2014-01-06,4.8,1.00,2014-07-01,iPhone,0.0,True,80.8,3.23,4.8,2014,7,1
48443,Winterfell,9,2014-01-06,4.9,1.00,2014-07-01,iPhone,0.0,False,71.1,3.23,4.9,2014,7,1
48547,King's Landing,2,2014-01-17,5.0,1.00,2014-07-01,iPhone,0.0,False,83.3,4.71,5.0,2014,7,1
48590,Winterfell,0,2014-01-04,5.0,1.00,2014-07-01,iPhone,0.0,False,41.7,3.35,5.0,2014,7,1
48601,Winterfell,6,2014-01-30,4.7,1.08,2014-07-01,iPhone,13.3,False,53.3,2.97,4.7,2014,7,1
49014,King's Landing,0,2014-01-11,5.0,1.00,2014-07-01,iPhone,0.0,True,100.0,4.73,5.0,2014,7,1
49039,Astapor,0,2014-01-19,5.0,1.00,2014-07-01,iPhone,0.0,True,84.0,2.99,5.0,2014,7,1
49070,Winterfell,6,2014-01-23,2.5,1.00,2014-07-01,iPhone,0.0,True,76.0,1.61,2.5,2014,7,1
49241,King's Landing,10,2014-01-17,3.5,1.18,2014-07-01,iPhone,26.2,False,61.9,1.70,3.5,2014,7,1
49277,Winterfell,0,2014-01-10,5.0,1.00,2014-07-01,iPhone,0.0,True,100.0,4.39,5.0,2014,7,1
49314,Winterfell,27,2014-01-27,4.1,1.05,2014-07-01,iPhone,6.5,True,61.0,1.97,4.1,2014,7,1
49347,Astapor,2,2014-01-07,4.3,1.00,2014-07-01,iPhone,0.0,True,100.0,3.60,4.3,2014,7,1
49466,Astapor,10,2014-01-20,5.0,1.13,2014-07-01,iPhone,10.0,True,58.0,7.19,5.0,2014,7,1
49515,King's Landing,0,2014-01-07,4.7,1.13,2014-07-01,iPhone,16.7,False,58.3,11.10,4.7,2014,7,1
49524,Winterfell,0,2014-01-26,3.8,1.00,2014-07-01,iPhone,0.0,False,90.0,5.91,3.8,2014,7,1
49557,King's Landing,4,2014-01-25,4.7,1.09,2014-07-01,Android,14.3,True,64.3,2.39,4.7,2014,7,1
49976,King's Landing,0,2014-01-21,2.0,1.00,2014-07-01,iPhone,0.0,False,100.0,2.39,2.0,2014,7,1
49993,Astapor,3,2014-01-03,4.8,1.11,2014-07-01,iPhone,11.1,True,55.6,2.53,4.8,2014,7,1

In [270]:
# create active user feature, if last_trip_month is 6 or 7, then the value will be yes, if last_trip_month is others
# then the value will be no 
active_user=[]
for index, row in df.iterrows():
    if row['last_trip_month']==6 or row['last_trip_month']==7:
        active_user.append('yes')
    else:
        active_user.append('no')
df['active_user']=active_user

In [271]:
df[:10]

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver,last_trip_year,last_trip_month,last_trip_day,active_user
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,4.7,2014,6,17,yes
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0,2014,5,5,no
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,4.3,2014,1,7,no
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.6,2014,6,29,yes
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.4,2014,3,15,no
5,Winterfell,2,2014-01-09,3.5,1.00,2014-06-06,iPhone,0.0,True,100.0,10.56,3.5,2014,6,6,yes
6,Astapor,1,2014-01-24,4.9,1.00,2014-01-25,Android,0.0,False,100.0,3.95,4.9,2014,1,25,no
7,Winterfell,2,2014-01-28,5.0,1.00,2014-01-29,iPhone,0.0,False,100.0,2.04,5.0,2014,1,29,no
8,Winterfell,2,2014-01-21,4.5,1.00,2014-02-01,Android,0.0,False,100.0,4.36,4.5,2014,2,1,no
9,Winterfell,1,2014-01-03,4.9,1.00,2014-01-05,Android,0.0,False,0.0,2.37,4.9,2014,1,5,no

Till now, all of the features have been investigated, all of the missing values have been handled, and all of the possible outliers have been investigated and handled. The dataframe is ready for data exploration.

In [272]:
# pickle the dataframe for data exploring
outfile = open(r'C:\A\Education\Data Science\Ultimate Technologies Inc\part_3_data_wrangling','wb')
pickle.dump(df,outfile)
outfile.close()